@import "./variables";


@keyframes defaultInVisibleState{
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loadMobNavBg{
  0%{
    opacity: 0;
    visibility: hidden;
    width: 1%;
    background-color: $main-color;
  }
  100%{
    opacity: 1;
    visibility: visible;
    width: 100%;
    background-color: $main-color;
  }
}

@keyframes loadMobNavBgBack{
  0%{
    opacity: 1;
    visibility: visible;
    width: 100%;
    background-color: $main-color;
  }
  100%{
    width: 1%;
    opacity: 0;
    visibility: hidden;    
    background-color: $main-color;    
    height: 0;
  }
}