//Base colors
$white-color: #fff;
$black-color: #000;
$light-dark-color: #191919;
$ligth-gray-color: #f0f2f2;
$dark-gray-color: #b8b8b8;

//Color Palette
$main-color: #92ddea;
$dark-blue-color: #7eb8da;

//Social Colors
$facebook-bg-color: #4267B2;
$instagram-bg-color: linear-gradient(320deg, #fcb045, #fd1d1d, #833ab4);
$phone-bg-color: #9579d1;

//Error Color
$color-glow-close-red: #c42034;